@import url(http://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,vietnamese,latin-ext);

* { 
	margin: 0;
	padding: 0;
}

html { 
    height:100%;
}

body {
	font: 16px arial,verdana,sans-serif,times;
    height:100%;
}

#page-wrap {
	margin: 0px auto;
	color: #002353;
	/* background: #FFF; */
	
	max-width: 1100px;
	/*border: solid #003072;
	border-width: 0px 1px; */
	min-height: 100%;
}

/* Esto es equivalente a #page-wrap .main y significa que aplica a la clase main hija del objeto con id page-wrap */
#page-wrap > .main {
	/* border: 1px solid #999; */
	border: 0px;
	padding: 1%;
	margin-bottom: 1px;
	color: #002353;
	background: #FFF;
}

section {
	min-height: 200px;
}

section > p {
	padding: 20px 50px;
	text-align : justify;
}

header {
	background: white;
	text-align: center;
	font-family: 'Patrick Hand', cursive;
	font-size: 2.4rem;
	background-image: url("../images/place_komona.jpg");
    background-repeat: no-repeat;
    background-position: center;
	min-height: 368px;
}

header > div {
	height: 368px;
  	line-height: 368px;
}

header > div > span {
	display: inline-block;
	vertical-align: middle;
  	line-height: 5rem;
	padding: 0px 50px;
}

.head {
	color: #373737;
	/* background: white; */
	padding: 25px 10px;
}

.main a {
	font-size: 1.3rem;
    color: #258fd6;
    font-weight: bold;
	font-family: 'Patrick Hand', cursive;
}

.main a:hover {
    font-weight: bold;
	color: #373737;
}

.links {
	text-align : center;
	vertical-align: middle;
}

.img_discord {
	width: 40px;
  	height: 40px;
	padding: 0px 10px;
}

.img_mail {
	width: 40px;
  	height: 40px;
	padding: 0px 10px;
}